{
  "semi": true,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "proseWrap": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "@/config",
    "^@/(app|di|drizzle|hooks|i18n|lib|src)/(.*)$",
    "^[./].*(?<!\\.(c|le|sc)ss)$",
    "^[.]/[-a-zA-Z0-9_]+[.](module)[.](css|scss|less)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
